<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">


    <title>Global Code</title>
  </head>
  <body>
    <main class="main">
        <header class="header jumbotron">
            <h1 class="h1">
                WELCOME TO GLOBAL CODE SUMMER PROGRAM
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, cupiditate. Eaque laborum atque nesciunt debitis esse adipisci, aperiam aspernatur, accusantium repellendus totam aliquid rerum veritatis nulla magni natus corrupti reiciendis.</p>
            <p>GOT A FREE PI</p>
        </header>
        <div class="con">

            <h1>About global code summer camp</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum alias, tempore odio ratione hic voluptatum unde dignissimos! Deleniti dolore a aliquam molestiae ratione deserunt maxime beatae, placeat laudantium possimus odit?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis laboriosam labore explicabo tempore, aliquam sunt totam libero culpa eveniet et aspernatur expedita, harum quia facilis praesentium quisquam nulla quod voluptate?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore quo, cum aut, assumenda asperiores, officiis non odit culpa pariatur placeat nisi ipsa harum repellendus dolore quibusdam odio explicabo fugiat iusto.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus illum, dicta asperiores nemo rerum dolore ex nostrum nesciunt quae provident vel aliquam perspiciatis similique autem iste ullam, accusantium ducimus laboriosam!

            </p>

        </div>
        <footer class="footer">
            &copy; globalcode | 2019
        </footer>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>